[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/ModUtils"]
	path = external/ModUtils
	url = https://github.com/CookiePLMonster/ModUtils

