[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/ModUtils"]
	path = external/ModUtils
	url = https://github.com/CookiePLMonster/ModUtils
[submodule "external/ini-cpp"]
	path = external/ini-cpp
	url = https://github.com/SSARCandy/ini-cpp
